h1 {
<<<<<<< HEAD
    color: #777777;
=======
    color: #000000;
>>>>>>> 45850a2e71c2f6e7835c2dfd152804b1edf6eeb2
}

.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply{
    display:none;
}